<header class="site-header navfixed-false">
  <div class="container">
      <a href="<%- url_for() %>" title="<%= config.title %>">
        <img class="ml-logo" src="/images/machinelabs_logo_blue_black.svg" alt="MachineLabs logo">
        <h2 class="ml-tagline dark">Machine Learning for everyone</h2>
      </a>
      <nav class="site-header-nav" role="navigation">
        <% for (var nav in theme.menus) { %>
              <%
                var title = theme.menus[nav].name;
                var href = theme.menus[nav].link;
                var link = "^" + href;  
                var target = theme.menus[nav].target;
              %>
              <a href="<%- url_for(href) %>" <%if(target){%>target="<%=target%>"<%}%> class="<% if (page && page.path.match(link)) { %> selected <% } %> site-header-nav-item hvr-underline-from-center" title="<%= title %>"><%= title %></a>
        <% } %>
      </nav>
  </div>
</header>
